$primary-color: #2f93de;
$success-color: #42ba96;
$danger-color: #df4759;
$light-color: #f3f3f3;
$dark-color: #202020;

@function set-text-color($bg-color) {
	@if (lightness($bg-color) > 60) {
		@return $dark-color;
	} @else {
		@return $light-color;
	}
}

@mixin set-background-color($bg-color) {
	background-color: $bg-color;
	color: set-text-color($bg-color);
}

@mixin set-size($width, $height) {
	width: $width;
	height: $height;
}

@mixin add-shadows() {
	box-shadow: 0px 2.2px 3px rgba(0, 0, 0, 0.046),
		0px 5.6px 7.6px rgba(0, 0, 0, 0.061), 0px 11.5px 15.4px rgba(0, 0, 0, 0.072),
		0px 23.7px 31.8px rgba(0, 0, 0, 0.087), 0px 65px 87px rgba(0, 0, 0, 0.13);
}
